@font-face{
    font-family: playwrite;
    src: url(../fonts/PlaywriteAUSA-VariableFont_wght.ttf);
}

@font-face{
    font-family: digital;
    src: url(../fonts/Jersey15-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: #FFFDEC;
    font-family: playwrite;
}

header{
    border: #86A788;
    border-width: 2xp;
    padding: 0;
    margin: 0;
    background-color: #86A788;
}

footer{
    border: #86A788;
    border-width: 2xp;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    background-color: #86A788;
}

.body{
    margin: 2cm;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

hr{
    color: black;
    border-color: black;
}

button{
    font-family: digital;
    background-color: #FFE2E2;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: #EEBEBE;
}

button:hover{
    color: #FFE2E2;
    background-color: #EEBEBE;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
